{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/forgot-password/reset_password.css' %}">
  <title>Document</title>
</head>
<body>
  {% include 'navbar.html' %}
  <form method="post" class="main">
    {% csrf_token %}
    <h1>Reset Your Password</h1>
    <label for="id_new_password1">New Password:</label><br>
    <input type="password" name="new_password1" id="id_new_password1" required><br>
    {% if form.new_password1.errors %}
      <ul>
      {% for error in form.new_password1.errors %}
        <li style="color:red;">{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    
    <label for="id_new_password2">Confirm New Password:</label><br>
    <input type="password" name="new_password2" id="id_new_password2" required><br>
    {% if form.new_password2.errors %}
      <ul>
      {% for error in form.new_password2.errors %}
        <li style="color:red;">{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    
    <button type="submit">Change Password</button>
  </form>
</body>
</html>
