{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/forgot-password/reset_password.css' %}">
  <title>Document</title>
</head>
<body>
  {% include 'navbar.html' %}
  <form method="post" class="main">
    <h1>Reset Your Password</h1>
    {% csrf_token %}
    <p style="font-size: 21px;">Enter your registered email address below, and we’ll send you instructions to reset your password.</p>
    <label>Email:</label>
    <input type="email" name="email" placeholder="Enter your email" required>
    <br>
    {% if messages %}
        <ul class="messag e-li">
            {% for message in messages %}
            <li style="color: red; list-style: none;">{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    <br>
    <button type="submit">Reset Password</button>
  </form>
</body>
</html>
