body{
    background-color: #16222A;
    color: white;
}
.main{
    margin-top: 190px;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 10px;
    background-color: #0B1C26;
    width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
a{
    text-decoration: none;
    color: #29B6F6;
}