{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/leaderboard.css' %}">
    <title>Leaderboard</title>
</head>
<body>
    {% include 'navbar.html' %}
    <table class="main-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>ID</th>
                <th>Rating</th>
                <th>Total Hours</th>
                <th><img class="badge" src="{% static 'images/bronze-badge.png' %}"></th>
                <th><img class="badge" src="{% static 'images/silver-badge.png' %}"></th>
                <th><img class="badge" src="{% static 'images/gold-badge.png' %}"></th>
            </tr>
        </thead>
        <tbody>
            {% for data1 in leaderboard_data %}
            <tr>
                <td>{{ data1.rank }}</td>
                <td>{{ data1.name }}</td>
                <td>{{ data1.user_id }}</td>
                <td>{{ data1.rating }}</td>
                <td>{{ data1.total_hours }}</td>
                <td>{{ data1.bronze }}</td>
                <td>{{ data1.silver }}</td>
                <td>{{ data1.gold }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>