{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <title>Navbar</title>
</head>
<body>
    <nav class="nav-main">
        <div class="nav-left">
            <img alt="logo" src="{% static 'images/SummitFlow-logo.png' %}">
            <h1 class="app-name">SummitFlow</h1>
        </div>
        <div class="nav-right">
            <ul class="right-li">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'home' %}" class="home">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" id="logout">
                            Logout
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'leaderboard' %}" id="logout">
                            Leaderboard
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard' %}">
                            <img class="profile-img" src="{% static 'images/User-profile-PNG-Image.png' %}">
                        </a>
                    </li>
                {% else %}
                    <li class="login-register"><a href="{% url 'register' %}" id="login-register">Register </a> or <a href="{% url 'logout' %}" id="login-register"> Sign in</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</body>
</html>