{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/user_dashboard.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Dashboard</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="main">
        <div class="user-information">
            <h1 id="user-name">{{ name }}</h1>
            <p id="user-id">ID: {{ user_id }}</p>
        </div>
        <div class="user-details">
            <div class="session-details">
                <h2 class="rank">Rank: <span id="user-rank">{{ rank }}</span></h2>
                <h2 class="rating">Rating: <span id="user-rating">{{ rating }}</span></h2>
                <h2 class="hours">Total Hours: <span id="total-hours">{{ total_hours }}</span></h2>
            </div>
            <div class="user-badges">
                <img class="badge" src="{% static 'images/bronze-badge.png' %}">
                <h3 class="bronze-badges">X <span>{{ bronze }}</span></h3>
                <img class="badge" src="{% static 'images/silver-badge.png' %}">
                <h3 class="silver-badges">X <span>{{ silver }}</span></h3>
                <img class="badge" src="{% static 'images/gold-badge.png' %}">
                <h3 class="gold-badges">X <span>{{ gold }}</span></h3>
            </div>
            <div class="user-goals">
                <h3>Set a goal for today!</h3>
                <textarea placeholder="Enter your goal here..." type="text" id="goal-input" rows="5" cols="60"></textarea>
            </div>
        </div>
        <h4>BAR CHART:</h4>
        <div>
            <select id="range-select">
                <option value="days">Days</option>
                <option value="months">Months</option>
                <option value="years">Years</option>
            </select>
        </div>
        <div class="chart-container">
            <canvas id="hoursChart" width="900" height="400"></canvas>
        </div>
    </div>
</body>
<script src="{% static 'session.js' %}"></script>
<script src="{% static 'goal.js' %}"></script>
<script src="{% static 'chart.js' %}"></script>
</html>