body{
    background-color: #16222A;
    color: white;   
}
.title{
    margin-top: 140px;
    margin-bottom: 30px;
    text-align: center;
    color: #29B6F6
}
.main-table {
    width: 80%;
    margin: 0 auto 0 auto;
    border-collapse: collapse;
}
.main-table th, .main-table td {
    border: 1px solid;
    padding: 8px;
    text-align: center;
}
img{
    size: 1px;
}
.main-table th {
    background-color: #0D2644; 
    color: #FFFFFF;       
}
.main-table td {
    border-color: #FFFFFF;
    background-color: #D1E3F8; 
    color: #0D2644;       
}
.main-table tr:hover td{
    color: #FFFFFF;
    background-color: #0D2644; 
}
@media (max-width: 480px){
    .main-table{
        width: 100%;
    }
    .main-table th, .main-table td{
        font-size: 12px; 
        padding: 6px; 
    }
    img{
        width: 16px; 
    }
}