.nav-main{
    background-color: #0B1C26;
    color: white;
    top:0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    padding: 24px;
    display: flex;
    width: 100%;
}
img{
    width: 40px;
}
.app-name{
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 12px
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-right{
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.logout{
    text-decoration: none;
}
img{
    cursor: pointer;
    margin-top: 0;
}
.right-li{
    margin-left: 1380px;
    gap: 16px;
}
nav ul {
    display: flex;
    margin: 0;
    list-style: none;
}