body{
    background-color: #16222A;
    color: white;
}
.main{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 145px;
}
.p1{
    font-size:35px;
}
#p2{
    font-size: 19px;
}
#p2 span{
    font-size: 33px;
}
.mountain-img{
    width: 40%;
}
.img-container{
    position: relative;
    z-index: 8;
}
.bike-img{
    animation-play-state: running;
    position: absolute;
    width: 40px;
    height: auto;
    left: 29.9%;
    top: 86.2%;
    animation: none;
    transform: rotate(334deg);
}
@keyframes move{
    0%{
        left: 29.9%;
        top: 86.2%;
    }
    5%{
        top: 83%;
    }
    10%{
        top: 79.8%;
    }
    15%{
        top:76.7%;
    }
    20%{
        top:73.6%;
    }
    25%{
        top:70.4%;
    }
    35%{
        top:64.2%;
    }
    43%{
        top:59%;
    }
    51%{
        top:53.8%;
    }
    60%{
        top:48.3%
    }
    63%{
        top:46%;
    }
    69%{
        top: 42.4%;
    }
    84%{
        top:31%
    }
    87%{
        top:28.3%
    }
    91%{
        top: 25%;
    }
    95%{
        top:21.8%
    }
    to{
        left: calc(100% - 696px);
        top: 19%;
    }
}
#timer{
    font-size: 70px;
    display: inline;
}
button {
    background: none; 
    border: none;
    cursor: pointer;
}