body{
    background-color: #16222A;
    color: white;   
}
.main{
    margin-top: 140px;
}
.rank{
    color: #1CBABA;
}
.rating{
    color: #FFB700;
}
.hours{
    color: #F63737;
}
#user-rank, #user-rating, #total-hours{
    color: white;
}
p{
    font-size: 25px;
}
.user-information{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}
.user-details{
    display: flex;
    gap: 15px;
    margin-bottom: 100px;
    text-align: center;
    align-items: center;
}
.session-details{
    flex: 30;
    background-color: #0B1C26;
    width: 32%;
    padding: 40px;
    text-align: center;
    align-items: center;  
    justify-content: center;
}
.user-badges{
    height: 240px;
    flex: 40;
    background-color: #0B1C26;
    padding: 45px;             
    box-sizing: border-box;    
    display: flex;              
    align-items: flex-start;
    gap: 15px;   
    text-align: center;
    align-items: center;  
    justify-content: center;
}
.badge{
    width: 130px;
    height: 130px;
    margin: 10px;
}
.user-goals{
    display: flex;
    flex-direction: column;
    flex: 30;
    background-color: #0B1C26;
    width: 130px;
    height: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.session-details, .user-badges, .user-goals{
    border-radius: 20px;
}
textarea{
    margin: 0;
    width: 320px;
    resize: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 38px;
    background-color: #a8ffff;
}
textarea::placeholder{
    color: #0B1C26;
}